p{
    color: aliceblue;
    font-weight: 100px;
    padding: 10px;
    background-color: blueviolet;
    font-size: medium;
}
p.class1{
    color: antiquewhite;
    font-size: 18px;
}

*{
    background-color: aliceblue;
}
h1,p,div{
    background-color: brown;
    font-size: 18px;
    
}

p::pseudo-element{
    property:value;
}
p::first-line{
    color: aliceblue;
    font-size: 20px;
}
::marker{
    color: red;
    font-size: 23px;
}
div{
    margin: 25px 50px 75px 100px;
    padding: 25px 50px 75px 100px ;
}

